In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
brooklyn_one_bed = pd.read_csv('brooklyn.csv')
brooklyn_one_bed

,rental_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,borough
0,2869,3600,3.0,2,900,4,1.0,15,1,0,0,0,0,0,0,0,Williamsburg,Brooklyn
1,4318,3900,3.0,2,1000,4,9.0,8,0,0,0,0,1,0,0,0,Greenwood,Brooklyn
2,6265,2700,2.0,1,900,4,2.0,96,0,0,0,0,0,0,0,0,Gowanus,Brooklyn
3,24,4900,1.0,1,1216,6,3.0,88,0,0,0,0,0,0,0,0,Brooklyn Heights,Brooklyn
4,9481,3900,0.0,1,1100,3,4.0,85,1,0,0,0,0,0,0,0,Williamsburg,Brooklyn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1008,7329,2300,1.0,1,900,5,2.0,88,0,0,0,0,0,0,0,0,Greenpoint,Brooklyn
1009,10286,3750,3.0,2,1531,1,1.0,10,0,0,1,1,1,1,0,0,Crown Heights,Brooklyn
1010,9169,4000,2.0,1,1080,5,1.0,117,0,0,0,0,0,0,0,0,Williamsburg,Brooklyn
1011,1721,4200,2.0,2,977,1,5.0,5,1,0,0,0,0,0,0,0,Downtown Brooklyn,Brooklyn
1012,1676,18000,3.0,2,2470,3,5.0,116,0,1,1,1,1,1,0,1,DUMBO,Brooklyn

In [3]:
manhattan_one_bed = pd.read_csv('manhattan.csv')
manhattan_one_bed

,Unnamed: 0,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,...,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
0,3,2919,76909719,4500,1.0,1,916,2,51.0,29,...,1,0,1,1,1,0,0,Midtown,All Midtown,Manhattan
1,4,2790,92953520,4795,1.0,1,975,3,8.0,31,...,0,0,1,1,1,0,1,Greenwich Village,All Downtown,Manhattan
2,15,1437,66221183,4650,1.0,1,915,5,5.0,106,...,0,0,0,0,0,0,0,Upper East Side,All Upper East Side,Manhattan
3,16,404,17340497,2950,1.0,1,550,43,17.0,14,...,1,0,1,1,0,0,0,Upper East Side,All Upper East Side,Manhattan
4,19,6594,9417041,4875,1.0,1,900,1,14.0,52,...,0,1,1,1,1,0,1,East Village,All Downtown,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1471,4992,5198,21179223,3420,1.0,1,591,6,9.0,113,...,0,0,0,0,0,0,0,Upper West Side,All Upper West Side,Manhattan
1472,4993,4781,35251179,2095,1.0,1,425,10,3.0,106,...,0,0,0,0,0,0,0,Upper East Side,All Upper East Side,Manhattan
1473,4994,7582,71691994,4210,1.0,1,532,3,8.0,16,...,1,1,1,1,1,0,1,Chelsea,All Downtown,Manhattan
1474,4998,5188,62828354,3475,1.0,1,651,6,5.0,14,...,0,1,1,1,1,0,1,Midtown West,All Midtown,Manhattan
1475,4999,4718,67659586,4500,1.0,1,816,4,11.0,9,...,1,1,1,1,0,1,1,Tribeca,All Downtown,Manhattan

In [5]:
queens_one_bed = pd.read_csv('queens.csv')
queens_one_bed

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
6,10524,60898078,1950,1.0,1,950,1,3.0,83,0,0,0,0,0,0,0,0,Forest Hills,Central Queens,Queens
8,5465,73060494,3500,1.0,1,996,9,7.0,3,1,0,0,0,0,0,0,0,Astoria,Northwest Queens,Queens
21,5259,2540088,1725,1.0,1,800,1,2.0,89,0,0,0,0,0,0,0,0,Astoria,Northwest Queens,Queens
25,9736,5154242,1700,1.0,1,730,10,3.0,7,0,0,0,0,0,0,0,0,Briarwood,Northeast Queens,Queens
59,3545,70847172,3100,1.0,1,787,6,3.0,9,1,1,0,1,1,0,1,0,Long Island City,Northwest Queens,Queens
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4876,8324,66802619,1600,1.0,1,820,2,4.0,85,0,0,1,1,0,0,0,0,Sunnyside,Northwest Queens,Queens
4901,1845,80967482,3500,1.0,1,753,1,3.0,85,1,0,0,0,0,0,0,0,Long Island City,Northwest Queens,Queens
4932,471,77099591,2650,1.0,1,650,6,21.0,1,1,0,0,0,0,0,0,0,Rego Park,Central Queens,Queens
4976,11245,9444618,2200,1.0,1,850,4,3.0,62,1,0,0,0,0,0,0,0,Forest Hills,Central Queens,Queens
4995,1964,73060494,2650,1.0,1,686,9,4.0,3,1,0,0,0,0,0,0,0,Astoria,Northwest Queens,Queens

In [ ]:
# Selecting the rent column

In [10]:
brooklyn_rent_price = brooklyn_one_bed.rent
brooklyn_rent_price

0        3600
1        3900
2        2700
3        4900
4        3900
        ...
1008     2300
1009     3750
1010     4000
1011     4200
1012    18000
Name: rent, Length: 1013, dtype: int64

In [11]:
manhattan_rent_price = manhattan_one_bed.rent
manhattan_rent_price

0       4500
1       4795
2       4650
3       2950
4       4875
        ...
1471    3420
1472    2095
1473    4210
1474    3475
1475    4500
Name: rent, Length: 1476, dtype: int64

In [12]:
queens_rent_price = queens_one_bed.rent
queens_rent_price

6       1950
8       3500
21      1725
25      1700
59      3100
        ...
4876    1600
4901    3500
4932    2650
4976    2200
4995    2650
Name: rent, Length: 232, dtype: int64

In [23]:
# Finding the mean price of Brooklyn apartments
brooklyn_mean_price = np.average(brooklyn_rent_price)
brooklyn_mean_price

3327.4037512339587

In [24]:
# Finding the mean price of Manhattan apartments
manhattan_mean_price = np.average(manhattan_rent_price)
manhattan_mean_price

3993.4769647696476

In [25]:
# Finding the mean price of Queens apartments
queens_mean_price = np.average(queens_rent_price)
queens_mean_price

2346.2543103448274

In [26]:
# Finding the median price of Brooklyn apartments
brooklyn_median_price = np.median(brooklyn_rent_price)
brooklyn_median_price

3000.0

In [27]:
# Finding the median price of Manhattan apartments
manhattan_median_price = np.median(manhattan_rent_price)
manhattan_median_price

3800.0

In [22]:
# Finding the median price of Queens apartments
queens_median_price = np.median(queens_rent_price)
queens_median_price

2200.0

In [30]:
# Finding the mode price of Brooklyn apartments
brooklyn_mode_price = stats.mode(brooklyn_rent_price)
brooklyn_mode_price

C:\Users\Agung Diah\AppData\Local\Temp\ipykernel_19784\3551029546.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  brooklyn_mode_price = stats.mode(brooklyn_rent_price)

ModeResult(mode=array([2500], dtype=int64), count=array([26]))

In [31]:
# Finding the mode price of Manhattan apartments
manhattan_mode_price = stats.mode(manhattan_rent_price)
manhattan_mode_price

C:\Users\Agung Diah\AppData\Local\Temp\ipykernel_19784\3844030530.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  manhattan_mode_price = stats.mode(manhattan_rent_price)

ModeResult(mode=array([3500], dtype=int64), count=array([56]))

In [32]:
# Finding the mode price of Queens apartments
queens_mode_price = stats.mode(queens_rent_price)
queens_mode_price

C:\Users\Agung Diah\AppData\Local\Temp\ipykernel_19784\1040327183.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  queens_mode_price = stats.mode(queens_rent_price)

ModeResult(mode=array([1750], dtype=int64), count=array([11]))